#tfUserName {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfUserName:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#pfPassword{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#pfPassword:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#btnForgot{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}
