#tfUserName {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#pfPassword{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#btnForgot{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

/*#imgLogin{*/
/*    -fx-graphic: url("/img/logic.png");*/
/*}*/
