#tfFirstName {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfFirstName:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfLastName{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfLastName:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfUserName {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfUserName:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfEmail{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfEmail:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#pfPassword1 {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#pfPassword1:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#pfPassword2{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#pfPassword2:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfId {
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfId:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#taDiagnosis {
    -fx-border-color: #2D3447;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: grey;
}

#taDiagnosis:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfWhatsOnRay{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfWhatsOnRay:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfSample{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfSample:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfTypeOfAnalysis{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfTypeOfAnalysis:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfResult{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfResult:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

#tfNormalValue{
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

#tfNormalValue:focused{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #0093EF;
}

.poljeIspravno {
    -fx-control-inner-background: greenyellow;
    -fx-text-fill: greenyellow;
}
.poljeNijeIspravno {
    -fx-control-inner-background: #FF4500;
    -fx-text-fill: #FF4500;
}