.table-view .column-header-background .label{
    -fx-background-color:  #DCDCDC	;
    -fx-text-fill: #2D3447;
}

.table-view .column-header {
    -fx-background-color:  #DCDCDC;
    -fx-pref-height: 57;
}

